.alert {
  display: flex;
  align-items: center;
  gap: var(--alerts-gap);
  padding: var(--alerts-padding-y) var(--alerts-padding-x);
  border: var(--alerts-border-width) var(--alerts-border-style);
  border-radius: var(--alerts-border-radius);
  font-family: var(--alerts-title-font-family);
  width: 100%;
  max-width: 400px;
}

.alert-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--alerts-icon-font-size);
  height: var(--alerts-icon-font-size);
  flex-shrink: 0;
  line-height: 1;
}

.alert-icon svg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-icon svg path {
  fill: currentColor;
}

.alert--primary .alert-icon {
  color: var(--alerts-primary-icon-color);
}

.alert--danger .alert-icon {
  color: var(--alerts-danger-icon-color);
}

.alert--success .alert-icon {
  color: var(--alerts-success-icon-color);
}

.alert--warning .alert-icon {
  color: var(--alerts-warning-icon-color);
}

.alert-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.alert-title {
  font-size: var(--alerts-title-font-size);
  font-weight: var(--alerts-title-font-weight);
  line-height: var(--alerts-title-font-line-height);
}

.alert--primary {
  background-color: var(--alerts-primary-bg-color);
  border-color: var(--alerts-primary-border-color);
  color: var(--alerts-primary-icon-color);
}

.alert--danger {
  background-color: var(--alerts-danger-bg-color);
  border-color: var(--alerts-danger-border-color);
  color: var(--alerts-danger-icon-color);
}

.alert--success {
  background-color: var(--alerts-success-bg-color);
  border-color: var(--alerts-success-border-color);
  color: var(--alerts-success-icon-color);
}

.alert--warning {
  background-color: var(--alerts-warning-bg-color);
  border-color: var(--alerts-warning-border-color);
  border-style: var(--alerts-warning-border-style);
  color: var(--alerts-warning-icon-color);
}

.alert--square { border-radius: var(--alerts-border-radius); }
.alert--round { border-radius: var(--alerts-border-radius); }
.alert--pills { border-radius: var(--alerts-border-radius); }
