.meeting-card {
  display: flex;
  flex-direction: column;
  padding: var(--meeting-card-padding);
  gap: var(--meeting-card-gap);
  border-radius: var(--meeting-card-border-radius);
  border-left: var(--meeting-card-border-width-left) solid;
  border-right: var(--meeting-card-border-width-right) solid;
  width: 100%;
  max-width: 306px;
}

.meeting-card.primary {
  background-color: var(--meeting-card-primary-bg-color);
  border-color: var(--meeting-card-primary-border-color);
}

.meeting-card.success {
  background-color: var(--meeting-card-success-bg-color);
  border-color: var(--meeting-card-success-border-color);
}

.meeting-card.danger {
  background-color: var(--meeting-card-danger-bg-color);
  border-color: var(--meeting-card-danger-border-color);
}

.meeting-card-info {
  display: flex;
  flex-direction: column;
  gap: var(--meeting-card-title-margin-bottom);
}

.meeting-card-title {
  font-family: var(--meeting-card-title-font-family);
  font-size: var(--meeting-card-title-font-size);
  font-weight: var(--meeting-card-title-font-weight);
  line-height: var(--meeting-card-title-font-line-height);
  margin: 0;
}

.meeting-card.primary .meeting-card-title {
  color: var(--meeting-card-primary-title-color);
}

.meeting-card.success .meeting-card-title {
  color: var(--meeting-card-success-title-color);
}

.meeting-card.danger .meeting-card-title {
  color: var(--meeting-card-danger-title-color);
}

.meeting-card-time {
  font-family: var(--meeting-card-time-font-family);
  font-size: var(--meeting-card-time-font-size);
  font-weight: var(--meeting-card-time-font-weight);
  line-height: var(--meeting-card-time-font-line-height);
  margin: 0;
}

.meeting-card.primary .meeting-card-time {
  color: var(--meeting-card-primary-time-color);
}

.meeting-card.success .meeting-card-time {
  color: var(--meeting-card-success-time-color);
}

.meeting-card.danger .meeting-card-time {
  color: var(--meeting-card-danger-time-color);
}

.avatar-group {
  display: flex;
  gap: -4px;
  margin-top: 8px;
}

.avatar {
  width: var(--avatar-small-size);
  height: var(--avatar-small-size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--avatar-border-width) solid;
  margin-left: -8px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  flex-shrink: 0;
  background: #d9d9d9;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.avatar:first-child {
  margin-left: 0;
}

.meeting-card.primary .avatar {
  border-color: var(--meeting-card-primary-avatar-border-color);
}

.meeting-card.success .avatar {
  border-color: var(--meeting-card-success-avatar-border-color);
}

.meeting-card.danger .avatar {
  border-color: var(--meeting-card-danger-avatar-border-color);
}

@media (max-width: 768px) {
  .meeting-card {
    max-width: 100%;
  }
}
