/* Don't edit this file, html pages must read the style from here without editing this file */

:root {


  /* //////////////////////// Page ///////////////////////// */

  /* Page */
  --page-bg-color: #ffffff;

  /* //////////////////////// Container ///////////////////////// */

  /* Container */
  --container-bg-color: #f8f7fb;
  --container-padding: 40px;
  --container-border-radius: 20px;
  --container-direction: ltr;

  /* //////////////////////// Section ///////////////////////// */

  /* Section */
  --section-bg-color: #ffffff;
  --section-shadow-color: #cecbdc;
  --section-title-font-color: #24242c;
  --section-padding: 28px;
  --section-gap: 24px;
  --section-margin-x: 16px;
  --section-margin-bottom: 32px;
  --section-border-radius: 20px;
  --section-shadow-x: 0px;
  --section-shadow-y: 8px;
  --section-shadow-blur: 16px;

    /* Section Title */
  --section-title-font-size: 16px;
  --section-title-font-family: 'Inter';
  --section-title-font-weight: 700;
  --section-title-font-line-height: 20px;


  /* //////////////////////// App Notifications Component ///////////////////////// */
  
  
  /* App Notifications title */
  --app-notifications-title-font-color: #24242c;
  --app-notifications-title-font-family: 'Inter';
  --app-notifications-title-font-weight: 400;
  --app-notifications-title-font-size: 16px;
  --app-notifications-title-font-line-height: 20px;

/* App Notifications list */
  --app-notifications-list-gap: 20px;
  --app-notifications-list-item-gap: 8px;
  
  /* App Notifications apps title content */
  --app-notifications-app1-title-content: 'Google';
  --app-notifications-app2-title-content: 'X (Twitter)';
  --app-notifications-app3-title-content: 'Linkedin';
  --app-notifications-app4-title-content: 'Dribbble';
  --app-notifications-app5-title-content: 'Behance';

  /* App Notifications section title content */
  --section-apps-title-content: 'Apps Notification';


/* //////////////////////// Meeting Card Component ///////////////////////// */

  /* Meeting Cards */
  --meeting-card-padding: 24px;
  --meeting-card-gap: 24px;
  --meeting-card-margin-bottom: 20px;
  --meeting-card-border-width-left: 5px;
  --meeting-card-border-width-right: 0px;
  --meeting-card-border-radius: 8px;

  /* Meeting Cards Primary */
  --meeting-card-primary-bg-color: #f2edff;
  --meeting-card-primary-border-color: #916dff;
  --meeting-card-primary-title-color: #794dff;
  --meeting-card-primary-time-color: #ab8fff;
  --meeting-card-primary-avatar-border-color: #f2edff;

   /* Meeting Cards Success */
  --meeting-card-success-bg-color: #e6faed;
  --meeting-card-success-border-color: #2ed46b;
  --meeting-card-success-title-color: #00ca4b;
  --meeting-card-success-time-color: #5ede8e;
  --meeting-card-success-avatar-border-color: #e6faed;

   /* Meeting Cards Danger */
  --meeting-card-danger-bg-color: #fee9e9;
  --meeting-card-danger-border-color: #f54e4e;
  --meeting-card-danger-title-color: #f32727;
  --meeting-card-danger-time-color: #f77777;
  --meeting-card-danger-avatar-border-color: #fee9e9;

  
 /* Meeting Cards Title */
  --meeting-card-title-margin-bottom: 12px;
  --meeting-card-title-font-family: 'Inter';
  --meeting-card-title-font-size: 16px;
  --meeting-card-title-font-weight: 500;
  --meeting-card-title-font-line-height: 20px;

   /* Meeting Cards Time */
  --meeting-card-time-font-size: 12px;
  --meeting-card-time-font-family: 'Inter';
  --meeting-card-time-font-weight: 500;
  --meeting-card-time-font-line-height: 15px;

  
  
  /* Meeting Card 1 Content*/
  --meeting1-title-content: 'Design System Meeting';
  --meeting1-time-content: '9 - 10 AM';

  /* Meeting Card 2 Content*/
  --meeting2-title-content: 'Team Lunch';
  --meeting2-time-content: '1 - 2 PM';

  /* Meeting Card 3 Content*/
  --meeting3-title-content: 'Design Review';
  --meeting3-time-content: '3 - 4 PM';

  /* Meeting Cards Section title Content*/
  --section-meetings-title-content: 'My Meetings';


  /* //////////////////////// Button Component ///////////////////////// */


  /* Buttons */
  --button-content: 'Submit';
  --button-font-family: 'Inter';
  --button-font-weight: 400;

  /* Button primary default */
  --button-primary-default-bg-color: #916dff;
  --button-primary-default-text-color: #f2edff;

  /* Button primary hover */
  --button-primary-hover-bg-color: #794dff;
  --button-primary-hover-text-color: #f2edff;

  /* Button primary focus */
  --button-primary-focus-bg-color: #6741d9;
  --button-primary-focus-text-color: #f2edff;

  /* Button primary text default */
  --button-primary-text-default-text-color: #916dff;

  /* Button primary text hover */
  --button-primary-text-hover-text-color: #794dff;

  /* Button primary text focus */
  --button-primary-text-focus-text-color: #6741d9;

  /* Button secondary default */
  --button-secondary-default-bg-color: #8f8b96;
  --button-secondary-default-text-color: #f1f1f2;

  /* Button secondary hover */
  --button-secondary-hover-bg-color: #76717f;
  --button-secondary-hover-text-color: #f1f1f2;

  /* Button secondary focus */  
  --button-secondary-focus-bg-color: #64606c;
  --button-secondary-focus-text-color: #f1f1f2;

  /* Button secondary text default */
  --button-secondary-text-default-text-color: #8f8b96;

  /* Button secondary text hover */
  --button-secondary-text-hover-text-color: #76717f;

  /* Button secondary text focus */
  --button-secondary-text-focus-text-color: #64606c;

  /* Button text */
  --button-text-decoration: underline;

  /* Button medium */
  --button-medium-padding-x: 32px;
  --button-medium-padding-y: 16px;
  --button-medium-border-radius: 16px;
  --button-medium-font-size: 16px;
  --button-medium-font-line-height: 20px;

   /* Button small */
  --button-small-padding-x: 28px;
  --button-small-padding-y: 12px;
  --button-small-border-radius: 12px;
  --button-small-font-size: 12px;
  --button-small-font-line-height: 15px;

   /* Button icon */
  --button-icon-padding-x: 16px;
  --button-icon-padding-y: 16px;
  --button-icon-border-radius: 12px;
  --button-icon-font-size: 12px;
  --button-icon-font-line-height: 12.5px;

  /* Button disabled */
  --button-disabled-opacity: 0.5;

  
  /* //////////////////////// Toogle Component ///////////////////////// */


  /* Toggle */
  --toggle-border-radius: 999px;
  --toggle-width: 38px;
  --toggle-height: 22px;

  /* Toggle Circle*/
  --toggle-circle-border-radius: 999px;
  --toggle-circle-width: 16px;
  --toggle-circle-height: 16px;

   /* Toggle On */
  --toggle-on-bg-color: #916dff;
  --toggle-on-circle-bg-color: #ffffff;
  --toggle-on-border-color: #916dff;

   /* Toggle Off */
  --toggle-off-circle-bg-color: #ffffff;
  --toggle-off-bg-color: #8f8b96;
  --toggle-off-border-color: #8f8b96;

  
  /* //////////////////////// Header Component ///////////////////////// */


  /* Header */
  --header-gap: 16px;

  /* Header name */
  --header-name-font-color: #24242c;
  --header-name-margin-bottom: 4px;
  --header-name-font-family: 'Inter';
  --header-name-font-size: 20px;
  --header-name-font-line-height: 25px;
  --header-name-font-weight: 500;
  --header-name-font-content: 'Osama Eldrieny';

  /* Header title */
  --header-title-font-color: #24242c;
  --header-title-font-family: 'Inter';
  --header-title-font-size: 24px;
  --header-title-font-line-height: 30px;
  --header-title-font-weight: 700;
  --header-title-font-content: 'Multi-Theme Design System';

   /* Header role */
  --header-role-font-color: #62626d;
  --header-role-font-family: 'Inter';
  --header-role-font-size: 16px;
  --header-role-font-line-height: 20px;
  --header-role-font-weight: 500;
  --header-role-font-content: 'Design System Designer';

   /* Header avatar */
  --header-avatar-margin-bottom: 8px;

  
  
  
  /* //////////////////////// Logo Component ///////////////////////// */

  


  /* Logo */
  --logo-gap: 16px;

  /* Logo icon */
  --logo-icon-bg-color: #916dff;
  --logo-icon-color: #ffffff;
  --logo-icon-padding: 12px;
  --logo-icon-border-radius: 12px;
  --logo-icon-font-size: 20px;
  --logo-icon-font-line-height: 20px;

   /* Logo name */
  --logo-name-font-color: #24242c;
  --logo-name-font-size: 16px;
  --logo-name-font-line-height: 20px;
  --logo-name-font-weight: 700;
  --logo-name-font-family: 'Inter';
  --logo-name-font-content: 'My Design System';

  

  /* //////////////////////// Tabs Component ///////////////////////// */

  
  


  /* Tabs */
  --tap-bg-color: #acadb2;
  --tap-padding: 4px;
  --tap-gap: 20px;
  --tap-border-radius: 8px;

  /* Tabs item default */
  --tap-item-default-bg-color: #acadb2;
  --tap-item-default-font-color: #24242c;
  --tap-item-default-icon-color: #24242c;

  /* Tabs item hover */
  --tap-item-hover-bg-color: #acadb2;
  --tap-item-hover-font-color: #794dff;
  --tap-item-hover-icon-color: #794dff;

  /* Tabs item active */
  --tap-item-active-bg-color: #6741d9;
  --tap-item-active-font-color: #f2edff;
  --tap-item-active-icon-color: #f2edff;

  /* Tabs item */
  --tap-item-padding-x: 12px;
  --tap-item-padding-y: 8px;
  --tap-item-padding-gap: 8px;
  --tap-item-border-radius: 4px;

  /* Tabs item label */
  --tap-item-label-font-family: 'Inter';
  --tap-item-label-font-weight: 400;
  --tap-item-label-font-size: 16px;
  --tap-item-label-font-line-height: 20px;

  /* Tabs item icon */
  --tap-item-icon-font-size: 12px;
  --tap-item-icon-font-line-height: 15px;

  /* Tabs items label content */
  --tap-item1-label-content: 'Home';
  --tap-item2-label-content: 'Profile';
  --tap-item3-label-content: 'Messages';


  /* Menu item default */
  --menu-item-default-bg-color: #ffffff;
  --menu-item-default-font-color: #24242c;
  --menu-item-default-icon-color: #24242c;

   /* Menu item hover */
  --menu-item-hover-bg-color: #f2edff;
  --menu-item-hover-font-color: #24242c;
  --menu-item-hover-icon-color: #24242c;


  /* //////////////////////// Menu Component ///////////////////////// */

  
/* Menu item */
  --menu-item-padding-x: 16px;
  --menu-item-padding-y: 12px;
  --menu-item-gap: 8px;
  --menu-item-border-radius: 8px;
  --menu-item-font-family: 'Inter';
  --menu-item-font-size: 16px;
  --menu-item-font-line-height: 20px;
  --menu-item-font-weight: 400;
  --menu-item-icon-size: 12px;
  --menu-item-icon-line-height: 15px;

  /* Menu items content */
  --menu-item1-content: 'Home';
  --menu-item2-content: 'Themes';
  --menu-item3-content: 'More';

/* Menu dropdown */
  --menu-dropdown-bg-color: #ffffff;
  --menu-dropdown-shadow-color: #cecbdc;
  --menu-dropdown-border-color: #f8f7fb;
  --menu-dropdown-divider-color: #f8f7fb;
  --menu-dropdown-border-width: 2px;
  --menu-dropdown-divider-width: 2px;
  --menu-dropdown-border-radius: 12px;
  --menu-dropdown-shadow-x: 0px;
  --menu-dropdown-shadow-y: 8px;
  --menu-dropdown-shadow-blur: 16px;

  /* Menu dropdown item */
  --menu-dropdown-item-padding-y: 8px;
  --menu-dropdown-item-border-radius: 0px;
  
  /* Menu dropdown items content */
  --menu-dropdown-item1-content: 'About';
  --menu-dropdown-item2-content: 'Contact';
  --menu-dropdown-item3-content: 'Settings';


  /* //////////////////////// Radio Component ///////////////////////// */


  /* Radio on */
  --radio-on-bg-color: #916dff;
  --radio-on-border-color: #916dff;

  /* Radio off */
  --radio-off-bg-color: #acadb2;
  --radio-off-border-color: #acadb2;


  /* //////////////////////// Choose card Component ///////////////////////// */


  /* Choose Cards */
  --choose-card-border-color: #916dff;
  --choose-card-padding-y: 20px;
  --choose-card-horizontal-gap: 16px;
  --choose-card-vertical-gap: 12px;
  --choose-card-border-width: 2px;

  /* Choose Card title */
  --choose-card-title-font-color: #24242c;
  --choose-card-title-font-family: 'Inter';
  --choose-card-title-font-size: 16px;
  --choose-card-title-font-line-height: 20px;
  --choose-card-title-font-weight: 500;
  --choose-card-title-font-content: 'Pro Plan';

  /* Choose Card price */
  --choose-card-price-font-color: #24242c;
  --choose-card-price-font-family: 'Inter';
  --choose-card-price-font-size: 16px;
  --choose-card-price-font-line-height: 20px;
  --choose-card-price-font-weight: 400;
  --choose-card-price-font-content: 'Free';

  /* Choose Card description */
  --choose-card-desc-font-color: #62626d;
  --choose-card-desc-font-family: 'Inter';
  --choose-card-desc-font-size: 12px;
  --choose-card-desc-font-line-height: 15px;
  --choose-card-desc-font-weight: 400;
  --choose-card-desc-font-content: 'Advanced tools for growing professional teams.';

  
  
  
  
  /* //////////////////////// Card Component ///////////////////////// */


  
  /* Card */
  --card-padding: 16px;

  /* Card image */
  --card-image-name: url('../imgs/card-image-diamond.png');
  --card-image-bg-color: #f2edff;
  --card-image-border-radius: 4px;
  --card-image-height: 220px;

  /* Card title */
  --card-title-font-color: #24242c;
  --card-title-font-size: 20px;
  --card-title-font-line-height: 25px;
  --card-title-font-weight: 500;
  --card-title-font-family: 'Inter';
  --card-title-font-content: 'AirPods Max';

  /* Card description */
  --card-desc-font-color: #62626d;
  --card-desc-font-size: 12px;
  --card-desc-font-line-height: 15px;
  --card-desc-font-weight: 400;
  --card-desc-font-family: 'Inter';
  --card-desc-font-content: 'Spatial audio. Noise cancelled. All-day comfort.';

   /* Card review */
  --card-review-font-color: #62626d;
  --card-review-font-size: 12px;
  --card-review-font-line-height: 15px;
  --card-review-font-weight: 400;
  --card-review-font-family: 'Inter';
  --card-review-font-content: '420 reviews';

  /* Card stars icon */
  --card-stars-icon-color: #edb000;
  --card-stars-icon-size: 12px;
  --card-stars-icon-line-height: 15px;

  /* Card stars */
  --card-stars-gap: 0px;

   /* Card old price */
  --card-old-price-font-color: #62626d;
  --card-old-price-font-size: 16px;
  --card-old-price-font-line-height: 20px;
  --card-old-price-font-weight: 400;
  --card-old-price-font-family: 'Inter';
  --card-old-price-font-content: '$549';

   /* Card new price */
  --card-new-price-font-color: #794dff;
  --card-new-price-font-size: 24px;
  --card-new-price-font-line-height: 30px;
  --card-new-price-font-weight: 700;
  --card-new-price-font-family: 'Inter';
  --card-new-price-font-content: '$500';

  /* Card body */
  --card-body-padding-x: 0px;
  --card-body-padding-top: 20px;
  --card-body-padding-bottom: 12px;
  --card-body-gap: 24px;
  --card-body-text-gap: 8px;
  --card-body-review-gap: 8px;
  --card-body-prices-gap: 8px;
  
  

  /* //////////////////////// Input Field Component ///////////////////////// */



  /* Input Fields */
  --input-field-padding-x: 16px;
  --input-field-padding-y: 8px;
  --input-field-border-width: 2px;
  --input-field-border-radius: 8px;
  --input-field-font-family: 'Inter';
  --input-field-font-size: 16px;
  --input-field-font-line-height: 20px;
  --input-field-font-weight: 500;
  --input-field-placeholder-content: 'Type here';

  /* Input Field default */
  --input-field-default-bg-color: #ffffff;
  --input-field-default-font-color: #62626d;
  --input-field-default-border-color: #f2edff;

   /* Input Field hover */
  --input-field-hover-bg-color: #ffffff;
  --input-field-hover-font-color: #62626d;
  --input-field-hover-border-color: #916dff;

   /* Input Field focus */
  --input-field-focus-bg-color: #ffffff;
  --input-field-focus-font-color: #794dff;
  --input-field-focus-border-color: #916dff;

  

  /* //////////////////////// Pagination Component ///////////////////////// */



  /* Pagination */
  --pagination-gap: 4px;

  /* Pagination item default */
  --pagination-item-default-bg-color: #f8f7fb;
  --pagination-item-default-font-color: #24242c;

  /* Pagination item hover */
  --pagination-item-hover-bg-color: #f2edff;
  --pagination-item-hover-font-color: #794dff;

   /* Pagination item active */
  --pagination-item-active-bg-color: #f2edff;
  --pagination-item-active-font-color: #794dff;

  /* Pagination item */
  --pagination-item-border-radius: 8px;

  /* Pagination number */
  --pagination-number-padding-x: 16px;
  --pagination-number-padding-y: 12px;
  --pagination-number-font-size: 16px;
  --pagination-number-font-line-height: 15px;
  --pagination-number-font-weight: 500;
  --pagination-number-font-family: 'Inter';

  /* Pagination arrow */
  --pagination-arrow-padding-x: 12px;
  --pagination-arrow-padding-y: 12px;
  --pagination-arrow-font-size: 12px;
  --pagination-arrow-font-line-height: 12.5px;
  
  /* Pagination pages number content */
  --pagination-page1-number-font-content: '1';
  --pagination-page2-number-font-content: '2';
  --pagination-page3-number-font-content: '3';
  --pagination-page4-number-font-content: '4';
  --pagination-page5-number-font-content: '5';


  /* //////////////////////// Palettes Component ///////////////////////// */


  /* Palettes item */
  --palettes-item-padding-x: 12px;
  --palettes-item-padding-y: 16px;
  --palettes-item-border-radius: 8px;
  --palettes-item-font-size: 16px;
  --palettes-item-font-line-height: 15px;
  --palettes-item-font-weight: 400;
  --palettes-item-font-family: 'Inter';
  --palettes-item-100-font-content: '100';
  --palettes-item-200-font-content: '200';
  --palettes-item-300-font-content: '300';
  --palettes-item-400-font-content: '400';
  --palettes-item-500-font-content: '500';
  --palettes-item-600-font-content: '600';
  --palettes-item-700-font-content: '700';
  --palettes-item-800-font-content: '800';
  --palettes-item-900-font-content: '900';
  
  /* Palettes primary */
  --palettes-primary-100-bg-color: #f2edff;
  --palettes-primary-100-font-color: #362373;
  --palettes-primary-200-bg-color: #dfd4ff;
  --palettes-primary-200-font-color: #362373;
  --palettes-primary-300-bg-color: #c5b2ff;
  --palettes-primary-300-font-color: #362373;
  --palettes-primary-400-bg-color: #ab8fff;
  --palettes-primary-400-font-color: #362373;
  --palettes-primary-500-bg-color: #916dff;
  --palettes-primary-500-font-color: #f2edff;
  --palettes-primary-600-bg-color: #794dff;
  --palettes-primary-600-font-color: #f2edff;
  --palettes-primary-700-bg-color: #6741d9;
  --palettes-primary-700-font-color: #f2edff;
  --palettes-primary-800-bg-color: #5637b5;
  --palettes-primary-800-font-color: #f2edff;
  --palettes-primary-900-bg-color: #452c91;
  --palettes-primary-900-font-color: #f2edff;

  /* Palettes secondary */
  --palettes-secondary-100-bg-color: #f1f1f2;
  --palettes-secondary-100-font-color: #353339;
  --palettes-secondary-200-bg-color: #dedde0;
  --palettes-secondary-200-font-color: #353339;
  --palettes-secondary-300-bg-color: #c4c2c8;
  --palettes-secondary-300-font-color: #353339;
  --palettes-secondary-400-bg-color: #a9a6ae;
  --palettes-secondary-400-font-color: #353339;
  --palettes-secondary-500-bg-color: #8f8b96;
  --palettes-secondary-500-font-color: #f1f1f2;
  --palettes-secondary-600-bg-color: #76717f;
  --palettes-secondary-600-font-color: #f1f1f2;
  --palettes-secondary-700-bg-color: #64606c;
  --palettes-secondary-700-font-color: #f1f1f2;
  --palettes-secondary-800-bg-color: #54505a;
  --palettes-secondary-800-font-color: #f1f1f2;
  --palettes-secondary-900-bg-color: #434048;
  --palettes-secondary-900-font-color: #f1f1f2;

  /* Palettes success */
  --palettes-success-100-bg-color: #e6faed;
  --palettes-success-100-font-color: #005b22;
  --palettes-success-200-bg-color: #c2f2d4;
  --palettes-success-200-font-color: #005b22;
  --palettes-success-300-bg-color: #91e8b2;
  --palettes-success-300-font-color: #005b22;
  --palettes-success-400-bg-color: #5ede8e;
  --palettes-success-400-font-color: #005b22;
  --palettes-success-500-bg-color: #2ed46b;
  --palettes-success-500-font-color: #e6faed;
  --palettes-success-600-bg-color: #00ca4b;
  --palettes-success-600-font-color: #e6faed;
  --palettes-success-700-bg-color: #00ac40;
  --palettes-success-700-font-color: #e6faed;
  --palettes-success-800-bg-color: #008f35;
  --palettes-success-800-font-color: #e6faed;
  --palettes-success-900-bg-color: #00732b;
  --palettes-success-900-font-color: #e6faed;

  /* Palettes warning */
  --palettes-warning-100-bg-color: #fdf7e6;
  --palettes-warning-100-font-color: #6b4f00;
  --palettes-warning-200-bg-color: #fbecc2;
  --palettes-warning-200-font-color: #6b4f00;
  --palettes-warning-300-bg-color: #f7dd91;
  --palettes-warning-300-font-color: #6b4f00;
  --palettes-warning-400-bg-color: #f4cd5e;
  --palettes-warning-400-font-color: #6b4f00;
  --palettes-warning-500-bg-color: #f0be2e;
  --palettes-warning-500-font-color: #fdf7e6;
  --palettes-warning-600-bg-color: #edb000;
  --palettes-warning-600-font-color: #fdf7e6;
  --palettes-warning-700-bg-color: #c99600;
  --palettes-warning-700-font-color: #fdf7e6;
  --palettes-warning-800-bg-color: #a87d00;
  --palettes-warning-800-font-color: #fdf7e6;
  --palettes-warning-900-bg-color: #876400;
  --palettes-warning-900-font-color: #fdf7e6;

  /* Palettes danger */
  --palettes-danger-100-bg-color: #fee9e9;
  --palettes-danger-100-font-color: #6d1212;
  --palettes-danger-200-bg-color: #fccbcb;
  --palettes-danger-200-font-color: #6d1212;
  --palettes-danger-300-bg-color: #faa2a2;
  --palettes-danger-300-font-color: #6d1212;
  --palettes-danger-400-bg-color: #f77777;
  --palettes-danger-400-font-color: #6d1212;
  --palettes-danger-500-bg-color: #f54e4e;
  --palettes-danger-500-font-color: #fee9e9;
  --palettes-danger-600-bg-color: #f32727;
  --palettes-danger-600-font-color: #fee9e9;
  --palettes-danger-700-bg-color: #cf2121;
  --palettes-danger-700-font-color: #fee9e9;
  --palettes-danger-800-bg-color: #ad1c1c;
  --palettes-danger-800-font-color: #fee9e9;
  --palettes-danger-900-bg-color: #8b1616;
  --palettes-danger-900-font-color: #fee9e9;



  /* //////////////////////// Alert Component ///////////////////////// */



  /* Alerts */
  --alerts-padding-x: 20px;
  --alerts-padding-y: 20px;
  --alerts-gap: 16px;
  --alerts-border-width: 2px;
  --alerts-border-style: solid;
  --alerts-warning-border-style: dashed;
  --alerts-border-radius: 8px;

   /* Alerts primary */
  --alerts-primary-bg-color: #f2edff;
  --alerts-primary-icon-color: #794dff;
  --alerts-primary-font-color: #794dff;
  --alerts-primary-border-color: #c5b2ff;

   /* Alerts success */
  --alerts-success-bg-color: #e6faed;
  --alerts-success-icon-color: #00ca4b;
  --alerts-success-font-color: #00ca4b;
  --alerts-success-border-color: #91e8b2;

   /* Alerts warning */
  --alerts-warning-bg-color: #fdf7e6;
  --alerts-warning-icon-color: #edb000;
  --alerts-warning-font-color: #edb000;
  --alerts-warning-border-color: #f7dd91;

   /* Alerts danger */
  --alerts-danger-bg-color: #fee9e9;
  --alerts-danger-icon-color: #f32727;
  --alerts-danger-font-color: #f32727;
  --alerts-danger-border-color: #faa2a2;

   /* Alerts title */
  --alerts-title-font-family: 'Inter';
  --alerts-title-font-size: 12px;
  --alerts-title-font-line-height: 15px;
  --alerts-title-font-weight: 600;
  --alerts-title-font-content: 'Alerts';

   /* Alerts icon */
  --alerts-icon-font-size: 20px;
  --alerts-icon-font-line-height: 20px;

   /* Alerts items content */
  --alerts-item1-title-content: 'There are 9 new messages';
  --alerts-item2-title-content: 'This is a primary alert — check it out!';
  --alerts-item3-title-content: 'Click to verify your email';
  --alerts-item4-title-content: 'Access denied. contact support';



  /* //////////////////////// Avatar Component ///////////////////////// */


  /* Avatar */
  --avatar-border-width: 2px;

   /* Avatar small */
  --avatar-small-border-radius: 8px;
  --avatar-small-size: 24px;
  
  /* Avatar large */
  --avatar-large-border-radius: 16px;
  --avatar-large-size: 80px;

  /* Avatar group */
  --avatar-group-gap: -4px;


    /* //////////////////////// Footer Component ///////////////////////// */

  
  /* Footer */
  --footer-gap: 12px;
  --footer-title-content: 'Osama Eldrieny © 2025';
  --footer-link1-content: 'License';
  --footer-link2-content: 'Help';
  --footer-link3-content: 'Policy';

}
